.App {
  text-align: center;
  background-color: lightgray;
  height: 100vh;
  padding: 0;
  display: grid;
  grid-template-columns: 350px 1fr;
  text-align: center;
  background: #dbdbdb69;
}

nav{
  background-color: rgb(188, 188, 188);
  padding: 5px;
}

nav ul li {
  list-style-type: none;
}

.generic-container{
  background: #ffffff;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.font-light{
  color: grey;  
}

.sub-title{
  color: #514e4e;
  font-size: 20px;
  padding: 12px;
  margin: 0;
  display: flex
}