.App {
  text-align: center;
  background-color: lightgray;
  height: 100vh;
  padding: 0;
  display: grid;
  text-align: center;
  background: #dbdbdb69;
}

nav{
  background-color: rgb(188, 188, 188);
  padding: 5px;
}

nav ul li {
  list-style-type: none;
}

.generic-container{
  background: #ffffff;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.font-light{
  color: grey;  
}

.sub-title{
  color: #514e4e;
  font-size: 20px;
  padding: 12px;
  margin: 0;
  display: flex
}

.nav {
  position: fixed;
  right: -250px; 
  transition: right 0.3s ease; 
  width: 250px; 
  background-color: #fff; 
  height: 100%; 
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}

.slide-in {
  right: 0; 
}

.slide-out {
  right: -250px; 
}

.nav-toggle {
  position: absolute;
  top: 20px;
  left: 20px; 
  z-index: 1001; 
}