.hoverContainer{
    position: relative;
    display: inline-flex;
    align-items: center;
    
    div{
        width: 200px;
        white-space: pre-wrap;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: white;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 14px;
        margin-bottom: 5px;
        z-index: 1000;
    }

}